:root {
    /*Cambio en el color primario de bulma*/
    --bulma-primary-h: 82deg;
    --bulma-primary-s: 39%;
    --bulma-primary-l: 30%;


}
.titulo{
    color: black;
}
.subtitle{
    color: black;
}
/*searchbar*/
.searchbar {
    /*margin-left: 300px; */
    /*margin-right: 300px;*/
    margin-bottom:30px;
    display:inline-flex;
}
.input{
    background-color: var(--primary-bg-color);
}
.input::placeholder {
    color: var(--text-placeholder-color);
}
.control .button {
    color: white;
    margin-left: 10px;
}
.index{
    background-color: var(--primary-bg-color);
    display:grid ;
    justify-content: center;
    align-items: center;
}