.is-256x256 {
    height: 256px;
    width: 256px;
}

.fixed-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 6px; 
}
.fixed-image-user {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px; 
}

.correct-text {
    overflow-wrap: break-word; 
    word-break: break-word;    
}

