@import url(bulma.css);

@import url(default.css);

@import url(componentes/navbar.css);
@import url(componentes/footer.css);
@import url(componentes/index.css);
@import url(componentes/perfil.css);
@import url(componentes/mis_subastas.css);
@import url(componentes/mis_ofertas.css);
@import url(componentes/seeoffers.css);